doctype html
html
    head
        title Add a Poll
    body
        form(method="post", action="/addPoll")
            label
                | Question: 
                input(type="text", name="qu")
                br
                br
            label
                | Options(As strings separated by ';') : 
                input(type="textarea", name="opt")
                br
                br
            input(type="submit")
