-var s;

doctype html
html
    head
        title DashBoard Example 
    body
        p Hello, #{name}!! #[br] #[br]
            | Here are your polls: #[br] #[br]
            -for(i=0;i<polls.length;i++)
                -s="/poll/"+polls[i]._id.toString();
                a(href=s) #{polls[i].qu} #[br] #[br]
